<h1 style = "color:red;">Select any form</h1>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="/students">Student</a></li>
    <li role="presentation" class="active"><a href="/teachers">Teacher</a></li>
    <li role="presentation" class="active"><a href="/classnames">Classname</a></li>
</ul>

<ul class="pagination">
    <li class = "active"><a href="#">1</a></li>
    <li><a href="/students">2</a></li>
    <li><a href="/teachers">3</a></li>
    <li><a href="/classnames">4</a></li>
</ul>