<h1 style = "color:red;">Select any form</h1>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="/students">Student</a></li>
    <li role="presentation" class="active"><a href="/teachers">Teacher</a></li>
    <li role="presentation" class="active"><a href="/classnames">Classname</a></li>
</ul>