<p>
  <strong>Name:</strong>
  <%= @classname.name %>
</p>

<%= link_to 'Edit', edit_classname_path(@classname), class:'label label-danger' %> |
<%= link_to 'Back', classnames_path, class:'label label-default' %>